      svg[data-astro-cid-yxtifmrq] {
        width: 1.5em;
        height: 1.5em
      }

      .astro-route-announcer {
        position: absolute;
        left: 0;
        top: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        white-space: nowrap;
        width: 1px;
        height: 1px
      }

      .hamburger[data-astro-cid-3weo6hls] {
        padding-top: 10px;
        padding-right: 20px;
        cursor: pointer
      }

      .hamburger[data-astro-cid-3weo6hls] .line[data-astro-cid-3weo6hls] {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color: var(--pico-color)
      }

      .expanded[data-astro-cid-3weo6hls] {
        display: unset
      }

      @media screen and (min-width: 1024px) {
        .hamburger[data-astro-cid-3weo6hls] {
          display: none
        }
      }

      #themeToggle[data-astro-cid-oemx5le4] {
        border: 0;
        background: none
      }

      .sun[data-astro-cid-oemx5le4] {
        fill: #000
      }
      .moon[data-astro-cid-oemx5le4],
      .dark .sun[data-astro-cid-oemx5le4] { 
        fill: transparent
      }

      .dark .moon[data-astro-cid-oemx5le4] {
        fill: #fff
      }
      .nav-links[data-astro-cid-pux6a34n] {
        width: 100%;
        top: 5rem;
        left: 48px;
        background-color: var(--pico-primary-background);
        display: none;
        margin: 0
      }

      .nav-links[data-astro-cid-pux6a34n] a[data-astro-cid-pux6a34n] {
        display: block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none
      }

      .nav-links[data-astro-cid-pux6a34n] a[data-astro-cid-pux6a34n]:hover,
      .nav-links[data-astro-cid-pux6a34n] a[data-astro-cid-pux6a34n]:focus {
        background-color: var(--pico-primary-background)
      }

      .expanded[data-astro-cid-pux6a34n] {
        display: grid
      }

      @media screen and (min-width: 1024px) {
        .nav-links[data-astro-cid-pux6a34n] {
          margin-left: 5em;
          display: block;
          position: static;
          width: auto;
          background: none
        }

        .nav-links[data-astro-cid-pux6a34n] a[data-astro-cid-pux6a34n] {
          display: inline-block;
          padding: 15px 20px
        }
      }

      .nav-wrapper[data-astro-cid-3sjh6wj3] {
        display: block
      }

      @media screen and (min-width: 1024px) {
        .nav-wrapper[data-astro-cid-3sjh6wj3] {
          display: flex
        }
      }

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
img{
  max-width: 100%;
}

/* Kramdown-style classes for Ed/minicomp compatibility */

/* Poetry formatting */
.poetry {
  font-style: italic;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/* Indent classes for poetry and prose */
.indent-1 {
  padding-left: 1rem;
}

.indent-2 {
  padding-left: 2rem;
}

.indent-3 {
  padding-left: 3rem;
}

.indent-4 {
  padding-left: 4rem;
}

.indent-5 {
  padding-left: 5rem;
}

.indent-6 {
  padding-left: 6rem;
}

.indent-7 {
  padding-left: 7rem;
}

.indent-8 {
  padding-left: 8rem;
}

.indent-9 {
  padding-left: 9rem;
}

.indent-10 {
  padding-left: 10rem;
}

/* Responsive indents for smaller screens */
@media (max-width: 768px) {
  .indent-1 { padding-left: 0.5rem; }
  .indent-2 { padding-left: 1rem; }
  .indent-3 { padding-left: 1.5rem; }
  .indent-4 { padding-left: 2rem; }
  .indent-5 { padding-left: 2.5rem; }
  .indent-6 { padding-left: 3rem; }
  .indent-7 { padding-left: 3.5rem; }
  .indent-8 { padding-left: 4rem; }
  .indent-9 { padding-left: 4.5rem; }
  .indent-10 { padding-left: 5rem; }
  
  .poetry {
    margin-left: 1rem;
  }
}
